.centre-page {
  margin-bottom: 3rem;
}

.centre-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.periscolaire-images {
  flex: 1;
  max-width: 35%;
}

.periscolaire-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.centre-texte {
  flex: 2;
}

.centre-texte ul {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

.centre-texte li {
  margin-bottom: 0.5rem;
}

.carrousel-photos .img-placeholder {
  height: 250px;
  border-radius: 1rem;
}

.img-placeholder {
    background-color: #e0e0e0;
    color: #555;
    text-align: center;
    padding: 4rem 1rem;
    border-radius: 1rem;
    font-style: italic;
}
.plannings .img-placeholder {
  flex: 1;
  height: 200px;
  border-radius: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .centre-section {
    flex-direction: column;
  }

  .periscolaire-images,
  .centre-texte {
    max-width: 100%;
  }

  .carrousel-photos .img-placeholder,
  .plannings .img-placeholder {
    height: auto;
  }
}
