.notfound-page {
  text-align: center;
  padding: 2rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-text);
}

.notfound-page p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}


.notfound-page .img-404 {
  max-width: 50%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

