@import "./variables.css";

main {
  border: 2px dashed red;
  min-height: 300px;
  margin-top: 1350px; /* adapte à la hauteur de ta navbar */
}

footer{
  border: 2px dashed red;
  min-height: 300px;
}

/* Style global */
body {
  background-color: var(--color-background);
  font-family: var(--font-texte);
  color: var(--color-text);
  padding: 2rem;
}

/* Blocs couleur */
.bloc-couleur {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.carre {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Démo police */
.demo-police {
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid var(--color-accent);
  background-color: var(--color-background);
}

/* Bouton */
.bouton {
  background-color: var(--color-accent);
  color: white;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: var(--rayon-bouton);
  font-family: var(--font-texte);
  cursor: pointer;
  transition: transform var(--transition), background-color var(--transition);
}

.bouton:hover {
  transform: scale(1.05);
  background-color: #ff4d4d;
}

/* Carte activité */
.carte-activite {
  background-color: var(--color-background);
  border: 2px solid var(--color-secondary);
  border-radius: 16px;
  padding: 1.5rem;
  max-width: 400px;
  font-family: var(--font-texte);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.carte-activite h3 {
  font-family: var(--font-titre);
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.carte-activite p {
  margin: 0.2rem 0;
}

.carte-activite p:first-of-type {
  margin: 0 0 1rem;
}
